<h1 class="text-center mb-4">Tasks</h1>
<a [routerLink]="['/Employee', 'createtask']" class="btn btn-primary mb-3">Create Task</a>

<div class="row">
    <div class="col-lg-6 mb-4" *ngFor="let taskGroup of taskGroups">
        <div class="card task-card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">{{taskGroup.taskStatusName}}</h4>
                <span class="badge badge-warning">{{taskGroup.tasks.length}}</span>
            </div>

            <div class="card-body">
                <div class="task-card-item mb-3" *ngFor="let task of taskGroup.tasks; let i = index">
                    <div class="task-header d-flex justify-content-between">
                        <div class="task-header d-flex align-items-center">
                            <span class="task-number-circle">{{i + 1}}</span>
                            <span class="ml-2">{{task.taskName}}</span>
                        </div>
                    </div>
                    <div class="task-content mt-2">
                        <p>{{task.description}}</p>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td>Created:</td>
                                <td>
                                    <i class="fa-solid fa-user"></i> {{task.createdBy}}
                                    <i class="fa-solid fa-calendar-days ml-2"></i> {{task.createdOn}}
                                </td>
                            </tr>
                            <tr>
                                <td>Assigned to:</td>
                                <td><i class="fa-solid fa-user"></i> {{task.assignedTo}}</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-briefcase"></i> Project ID:</td>
                                <td>{{task.projectID}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="task-footer d-flex justify-content-between">
                        <a [routerLink]="['/Employee','updatetaskstatus',task.taskID]"
                            class="btn btn-sm btn-outline-primary">
                            <i class="fa-solid fa-pencil"></i> Change Status
                        </a>
                        <a [routerLink]="['/Employee','edittask',task.taskID]" class="btn btn-sm btn-outline-success">
                            <i class="fa-solid fa-pencil"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>